###
#VERSION -- 0.0.1 (BETA)
#PyActivation - Version 0.0.1 (Beta)
#Author --> Arun Dutta-Plummer (A.K.A AJDP13)
#Contributors --> Arun Dutta-Plummer (A.K.A AJDP13)
#Date Updated --> 23/07/2021
###

__pycache__
*.pyc